gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
GeneratedPluginRegistrant.java
.cxx/
local.properties

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
**/*.keystore
**/*.jks
